<header>
    <a href="/">
        <img src="darklogo.png" alt="car service app logo" height="50px">
    </a>
    <nav>
        <a href="/">home</a>
        <a href="/services">services</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
        <a href="/booknow">book now</a>
        <a href="/sign in" class="cta-link">sign in</a>
    </nav>
</header>