<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service App</title>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="lightlogo.png" type="image/x-icon">
    
</head>
<body>
    <%- include("_header.ejs") %>
    <main>
        <section id="hero" class="hero">
            <h1>
                <span>Your Trusted Car Servicing Partner</span>
                <span>Certified Technicians</span>
            </h1>
            <p>we understand how important it is to keep your car in perfect condition</p>
            <p class="phone"> Phone <a href="tel:+254717481718">+254 717 481  718</a> </p>
            <a href="/contact" class="cta-link">Contact Us</a>
            <div class="socials">
                <a href="https://x.com" target="_blank">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="https://facebook.com" target="_blank">                  
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://instagram.com" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>                   
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div>
        </section>
        <section class="packages" id="packages">
            <h2>Our Packages</h2>
            <a href="/custompackage">Build your own service package</a>
            <div class="packages-container">
                <div class="package">
                    <p class="package-price">KES 2500</p>
                    <h3>Basic</h3>
                    <ul>
                        <li>Oil Change</li>
                        <li>Tire Rotation</li>
                        <li>Brake Inspection</li>
                    </ul>
                </div>
                <div class="package">
                    <p class="package-price">KES 3500</p>
                    <h3>Standard</h3>
                    <ul>
                        <li>Oil Change</li>
                        <li>Brake Pad Replacement</li>
                        <li>General Service (fluid top-up, filter check)</li>
                        <li>Battery Health Check</li>
                    </ul>
                </div>
                <div class="package">
                    <p class="package-price">KES 5000</p>
                    <h3>Premium</h3>
                    <ul>
                        <li>Full Engine Diagnostic</li>
                        <li>Oil Change</li>
                        <li>Brake Pad Replacemen</li>
                        <li>Tire Rotation & Alignment</li>
                        <li>General Service</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="services" id="services">
            <h2>Our Services</h2>
            <a href="/diagnosis">Request for custom vehicle diagnosis</a>
            <div class="services-container">
                <div class="service">
                    <img src="3.png" alt="oil change icon">
                    <h3>Oil Change</h3>
                    <p>Regular oil changes are essential to maintaining the performance and longevity of your engine. Our experts use high-quality oil and filters to ensure your vehicle operates at its peak.</p>
                </div>
                <div class="service">
                    <img src="4.png" alt="Brake Pad Replacement icon">
                    <h3>Brake Pad Replacement</h3>
                    <p>Worn-out brakes can jeopardize your safety. We inspect, repair, and replace brake pads, ensuring your braking system is in top condition.</p>
                </div>
                <div class="service">
                    <img src="5.png" alt="General Service icon">
                    <h3>General Service</h3>
                    <p>Keep your car running smoothly with our comprehensive general servicing, including fluid checks, battery testing, air filter replacement, and more.</p>
                </div>
                <div class="service">
                    <img src="6.png" alt="Tire Rotation & Alignment icon">
                    <h3>Tire Rotation & Alignment</h3>
                    <p>Ensure even tire wear and a smoother ride with our tire rotation and alignment services.</p>
                </div>
                <div class="service">
                    <img src="7.png" alt="Battery Inspection & Replacement icon">
                    <h3>Battery Inspection & Replacement</h3>
                    <p>Don't let a dead battery leave you stranded. We provide battery checks, maintenance, and replacement services.</p>
                </div>
                <div class="service">
                    <img src="8.png" alt="Engine Diagnostics icon">
                    <h3>Engine Diagnostics</h3>
                    <p>If your vehicle is experiencing issues, our advanced diagnostic tools can identify and fix the problem quickly.</p>
                </div>
            </div>
        </section>
        <section class="testimonials" id="testimonials">
            <h2>What other clients say</h2>
            <a href="/review">Submit your own review</a>
            <div class="testimonials-container"></div>
        </section>
    </main>
    <%- include("_footer.ejs") %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>